<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title>Final</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
		  <script src="js/css3-mediaqueries.js" type="text/javascript"></script>
		  <link rel="stylesheet" href="css/style_ie8.css">
		  <![endif]-->
		</head>
		<body>

			<header class="header">
				<div class="wrapper">
					<a href=""  class="header__logo"></a>

					<div class="header__auth">
						<a href="#">Log in</a>
						<a href="#" class="active">Sign up</a>
					</div>

					<div class="header__slogan">
						&nbsp;Share your
						<br>
						holiday dreams
					</div>

					<div class="header__sub-slogan">
						And find the perfect partner to fullfill it
					</div>
					<div class="header__button">
						<a href="#" >Find your holiday partner</a>
					</div>


				</div>
			</header>

			<div class="how">
				<div class="wrapper">
					<h2 class="how__header">How Urlaubsglück works?</h2>

					<div class="how__item">
						<ul class="how__slider">
							<li class="how__slider-item how__slider-item--step1">
								<img src="img/how_1.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 1</span>
								<h3 class="how__slider-title">Sed leo enim, condimentum</h3>
								<p class="how__slider-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</li>

							<li class="how__slider-item how__slider-item--step2">
								<img src="img/how_2.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 2</span>
								<h3 class="how__slider-title">Morbi velit risus</h3>
								<p class="how__slider-text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
							</li>

							<li class="how__slider-item how__slider-item--step3">
								<img src="img/how_3.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 3</span>
								<h3 class="how__slider-title">Sed leo enim, condimentum</h3>
								<p class="how__slider-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</li>
						</ul>
						<a href="#" class="how__slider-toleft"></a>
						<a href="#" class="how__slider-toright"></a>
					</div>

					<div class="how__item how__item--second">
						<ul class="how__slider">

							<li class="how__slider-item how__slider-item--step2">
								<img src="img/how_2.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 2</span>
								<h3 class="how__slider-title">Morbi velit risus</h3>
								<p class="how__slider-text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
							</li>

							<li class="how__slider-item how__slider-item--step3">
								<img src="img/how_3.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 3</span>
								<h3 class="how__slider-title">Sed leo enim, condimentum</h3>
								<p class="how__slider-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</li>

							<li class="how__slider-item how__slider-item--step1">
								<img src="img/how_1.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 1</span>
								<h3 class="how__slider-title">Sed leo enim, condimentum</h3>
								<p class="how__slider-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</li>
						</ul>
						<a href="#" class="how__slider-toleft"></a>
						<a href="#" class="how__slider-toright"></a>
					</div>

					<div class="how__item how__item--last">
						<ul class="how__slider">
							<li class="how__slider-item how__slider-item--step3">
								<img src="img/how_3.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 3</span>
								<h3 class="how__slider-title">Sed leo enim, condimentum</h3>
								<p class="how__slider-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</li>

							<li class="how__slider-item how__slider-item--step2">
								<img src="img/how_2.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 2</span>
								<h3 class="how__slider-title">Morbi velit risus</h3>
								<p class="how__slider-text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
							</li>

							<li class="how__slider-item how__slider-item--step1">
								<img src="img/how_1.jpg" alt="" class="how__slider-image">
								<span class="how__slider-step">step 1</span>
								<h3 class="how__slider-title">Sed leo enim, condimentum</h3>
								<p class="how__slider-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</li>
						</ul>
						<a href="#" class="how__slider-toleft"></a>
						<a href="#" class="how__slider-toright"></a>
					</div>


				</div>
			</div>

			<div class="meet">
				<div class="wrapper">
					<h2 class="meet__header">Meet a partner for your best holiday</h2>

					<ul class="meet__list ">
						<li class="meet__item meet__item--first">
							<div class="meet__img meet__img--tv">
								<img src="img/meet_1.jpg" alt="">
							</div>
							<h4 class="meet__name">Bradley Hunter</h4>
							<p class="meet__text">Based in Chicago. I love playing tennis and loud music.</p>
						</li>

						<li class="meet__item meet__item--second">
							<div class="meet__img meet__img--coffe">
								<img src="img/meet_2.jpg" alt="">
							</div>
							<h4 class="meet__name">Heather Walker</h4>
							<p class="meet__text">I'm a happy person that loves cats and climbing on mountains.</p>
						</li>

						<li class="meet__item meet__item--third">
							<div class="meet__img meet__img--drink">
								<img src="img/meet_3.jpg" alt="">
							</div>
							<h4 class="meet__name">Lucas Marsha</h4>
							<p class="meet__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
						</li>

						<li class="meet__item meet__item--last">
							<div class="meet__img meet__img--fly">
								<img src="img/meet_4.jpg" alt="">
							</div>
							<h4 class="meet__name">Bradley Hunter</h4>
							<p class="meet__text">Based in Chicago. I love playing tennis and loud music.</p>
						</li>
					</ul>

					<div class="meet__button-container">
						<a href="" class="meet__button">See other partners</a>
					</div>
				</div>
			</div>

			<div class="discover">
				<div class="wrapper">
					<h2 class="discover__header">Discover holiday activity ideas</h2>
					<div class="discover__grid" id="discover__grid">
						<div class="discover__item">
							<img src="img/dis_1.jpg" alt="" class="discover__image">
							<span class="discover__item-title">Sport and Activity</span>
						</div>

						<div class="discover__item">
							<img src="img/dis_2.jpg" alt="" class="discover__image">
							<span class="discover__item-title">Wellnes and Health</span>
						</div>

						<div class="discover__item">
							<img src="img/dis_3.jpg" alt="" class="discover__image">
							<span class="discover__item-title">Extreme Sports and Expeditions</span>
						</div>

					</div>

					<script type="text/html" id="discover_template">
						<% for ( var i = 0; i < hits.length; i++ ) { %>
						<div class="discover__item">
							<img src="<%= hits[i].webformatURL %>" alt="<%= hits[i].user %>" class="discover__image">
							<span class="discover__item-title"><%= hits[i].user %></span>
						</div>
						<% } %>
					</script>

				</div>
			</div>

			<div class="search">
				<div class="wrapper">
					<h2 class="search__header">Discover holiday activity ideas</h2>
					<p class="search__text">Hi! What are your holiday interests?</p>
					<form  class="search__form">
						<input type="text"   class="search__input" placeholder="Enter your interests" value="">
						<input type="button" value="Search partners" class="search__button"  id="search__button">

					</form>
				</div>
			</div>

			<footer class="footer">
				<div class="wrapper">
					<a href="" class="footer__logo"></a>

					<ul class="footer__menu">
						<li class="footer__menu-item">
							<h4 class="footer__menu-header">Company</h4>
						</li>
						<li class="footer__menu-item"><a href="#">About</a></li>
						<li class="footer__menu-item"><a href="">Contacts</a></li>
						<li class="footer__menu-item"><a href="">Press</a></li>
						<li class="footer__menu-item"><a href="">Blog</a></li>
					</ul>

					<ul class="footer__menu">
						<li class="footer__menu-item">
							<h4 class="footer__menu-header">Partners</h4>
						</li>
					</ul>

					<a href="" class="footer__designed"></a>
				</div>
			</footer>

		</body>
		</html>